n8n/Auto_Assign_Workflow_Simple.json
{
  "name": "ThinkAuto - Smart Auto Assign & Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ticket-created",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "1",
      "name": "Webhook - New Ticket",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "ticket-created"
    },
    {
      "parameters": {
        "url": "=http://localhost:5000/api/tickets/{{ $json.ticketId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.THINKAUTO_JWT_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2",
      "name": "Get Ticket Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:5000/api/users?role=technician",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.THINKAUTO_JWT_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3",
      "name": "Get All Technicians",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Smart Assignment Logic - No AI needed!\nconst ticket = $('Get Ticket Details').first().json.data.ticket;\nconst techniciansResponse = $('Get All Technicians').first().json;\nconst technicians = techniciansResponse.data.users;\n\nif (!technicians || technicians.length === 0) {\n  throw new Error('No technicians available');\n}\n\n// Get workload for each technician\nconst techWithWorkload = [];\nfor (const tech of technicians) {\n  // Count active tickets (you can fetch this from API or assume 0 for now)\n  techWithWorkload.push({\n    ...tech,\n    workload: 0 // Will be calculated by checking assignedTo field\n  });\n}\n\n// Smart selection logic:\n// 1. Match by department/category (if available)\n// 2. Select technician with lowest workload\n// 3. Round-robin if equal workload\n\nconst ticketCategory = ticket.category.toLowerCase();\nlet selectedTech = null;\nlet reason = '';\n\n// Try to match by department\nconst matchingDept = techWithWorkload.filter(t => \n  t.department && t.department.toLowerCase().includes(ticketCategory)\n);\n\nif (matchingDept.length > 0) {\n  // Found department match - pick one with lowest workload\n  selectedTech = matchingDept.sort((a, b) => a.workload - b.workload)[0];\n  reason = `Matched department expertise for ${ticketCategory}`;\n} else {\n  // No department match - pick available technician with lowest workload\n  selectedTech = techWithWorkload.sort((a, b) => a.workload - b.workload)[0];\n  reason = 'Selected based on current workload availability';\n}\n\n// Prepare output data\nreturn {\n  ticketId: ticket._id,\n  ticketNumber: ticket.ticketNumber,\n  ticketTitle: ticket.title,\n  ticketDescription: ticket.description,\n  ticketPriority: ticket.priority,\n  ticketCategory: ticket.category,\n  technicianId: selectedTech._id,\n  technicianName: selectedTech.name,\n  technicianEmail: selectedTech.email,\n  userName: ticket.createdBy.name,\n  userEmail: ticket.createdBy.email,\n  assignmentReason: reason,\n  currentWorkload: selectedTech.workload\n};"
      },
      "id": "4",
      "name": "Smart Assignment Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=http://localhost:5000/api/tickets/{{ $json.ticketId }}/assign",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.THINKAUTO_JWT_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"technicianId\": $json.technicianId } }}",
        "options": {}
      },
      "id": "5",
      "name": "Assign Technician",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "sendTo": "={{ $json.userEmail }}",
        "subject": "=✅ Ticket {{ $json.ticketNumber }} Assigned",
        "emailType": "html",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    * { margin: 0; padding: 0; box-sizing: border-box; }\n    body { font-family: 'Segoe UI', Arial, sans-serif; line-height: 1.6; color: #333; background: #f5f5f5; }\n    .email-wrapper { background: #f5f5f5; padding: 20px; }\n    .email-container { max-width: 600px; margin: 0 auto; background: white; border-radius: 12px; overflow: hidden; box-shadow: 0 2px 8px rgba(0,0,0,0.1); }\n    .header { background: linear-gradient(135deg, #FF6B35 0%, #F7931E 100%); color: white; padding: 30px 20px; text-align: center; }\n    .header h1 { font-size: 24px; margin-bottom: 8px; }\n    .header p { font-size: 14px; opacity: 0.9; }\n    .content { padding: 30px 20px; }\n    .greeting { font-size: 16px; margin-bottom: 20px; }\n    .info-card { background: #f9f9f9; border-left: 4px solid #FF6B35; padding: 20px; margin: 20px 0; border-radius: 8px; }\n    .info-row { padding: 8px 0; border-bottom: 1px solid #eee; }\n    .info-row:last-child { border-bottom: none; }\n    .label { font-weight: 600; color: #FF6B35; display: inline-block; min-width: 140px; }\n    .value { color: #555; }\n    .cta-button { display: inline-block; background: linear-gradient(135deg, #FF6B35 0%, #F7931E 100%); color: white; text-decoration: none; padding: 14px 32px; border-radius: 8px; margin: 20px 0; font-weight: 600; text-align: center; }\n    .cta-button:hover { opacity: 0.9; }\n    .footer { background: #f9f9f9; padding: 20px; text-align: center; font-size: 12px; color: #999; border-top: 1px solid #eee; }\n    .priority-badge { display: inline-block; padding: 4px 12px; border-radius: 20px; font-size: 12px; font-weight: 600; }\n    .priority-high { background: #ffebee; color: #c62828; }\n    .priority-medium { background: #fff3e0; color: #ef6c00; }\n    .priority-low { background: #e8f5e9; color: #2e7d32; }\n    .priority-critical { background: #ffcdd2; color: #b71c1c; }\n  </style>\n</head>\n<body>\n  <div class=\"email-wrapper\">\n    <div class=\"email-container\">\n      <div class=\"header\">\n        <h1>🎫 Technician Assigned!</h1>\n        <p>ThinkAuto AI HelpDesk System</p>\n      </div>\n      <div class=\"content\">\n        <p class=\"greeting\">Hello <strong>{{ $json.userName }}</strong>,</p>\n        <p>Great news! Your support ticket has been assigned to a technician who will help resolve your issue.</p>\n        \n        <div class=\"info-card\">\n          <div class=\"info-row\">\n            <span class=\"label\">Ticket Number:</span>\n            <span class=\"value\"><strong>{{ $json.ticketNumber }}</strong></span>\n          </div>\n          <div class=\"info-row\">\n            <span class=\"label\">Title:</span>\n            <span class=\"value\">{{ $json.ticketTitle }}</span>\n          </div>\n          <div class=\"info-row\">\n            <span class=\"label\">Priority:</span>\n            <span class=\"value\">\n              <span class=\"priority-badge priority-{{ $json.ticketPriority.toLowerCase() }}\">{{ $json.ticketPriority }}</span>\n            </span>\n          </div>\n          <div class=\"info-row\">\n            <span class=\"label\">Assigned To:</span>\n            <span class=\"value\"><strong>{{ $json.technicianName }}</strong></span>\n          </div>\n          <div class=\"info-row\">\n            <span class=\"label\">Assignment Reason:</span>\n            <span class=\"value\">{{ $json.assignmentReason }}</span>\n          </div>\n        </div>\n        \n        <p>Your assigned technician will review the details and begin working on your ticket shortly. You'll receive updates as progress is made.</p>\n        \n        <center>\n          <a href=\"http://localhost:8081/employee/tickets/{{ $json.ticketId }}\" class=\"cta-button\">📊 View Ticket Status</a>\n        </center>\n      </div>\n      <div class=\"footer\">\n        <p>This is an automated notification from ThinkAuto HelpDesk</p>\n        <p>Please do not reply to this email</p>\n        <p style=\"margin-top: 10px; color: #bbb;\">© 2026 ThinkAuto. All rights reserved.</p>\n      </div>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "6",
      "name": "📧 Email to User",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1340, 200],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail_account",
          "name": "Gmail"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "sendTo": "={{ $json.technicianEmail }}",
        "subject": "=🔧 New Ticket Assigned: {{ $json.ticketNumber }}",
        "emailType": "html",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    * { margin: 0; padding: 0; box-sizing: border-box; }\n    body { font-family: 'Segoe UI', Arial, sans-serif; line-height: 1.6; color: #333; background: #f5f5f5; }\n    .email-wrapper { background: #f5f5f5; padding: 20px; }\n    .email-container { max-width: 600px; margin: 0 auto; background: white; border-radius: 12px; overflow: hidden; box-shadow: 0 2px 8px rgba(0,0,0,0.1); }\n    .header { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 30px 20px; text-align: center; }\n    .header h1 { font-size: 24px; margin-bottom: 8px; }\n    .header p { font-size: 14px; opacity: 0.9; }\n    .content { padding: 30px 20px; }\n    .greeting { font-size: 16px; margin-bottom: 20px; }\n    .ticket-details { background: #f9f9f9; padding: 20px; margin: 20px 0; border-radius: 8px; border-left: 4px solid #667eea; }\n    .detail-row { padding: 10px 0; border-bottom: 1px solid #eee; }\n    .detail-row:last-child { border-bottom: none; }\n    .label { font-weight: 600; color: #667eea; display: block; margin-bottom: 4px; font-size: 12px; text-transform: uppercase; }\n    .value { color: #333; font-size: 15px; }\n    .description-box { background: white; padding: 15px; border-radius: 6px; margin-top: 10px; border: 1px solid #e0e0e0; }\n    .cta-button { display: inline-block; background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; text-decoration: none; padding: 14px 32px; border-radius: 8px; margin: 20px 0; font-weight: 600; }\n    .footer { background: #f9f9f9; padding: 20px; text-align: center; font-size: 12px; color: #999; border-top: 1px solid #eee; }\n    .priority-badge { display: inline-block; padding: 6px 14px; border-radius: 20px; font-size: 13px; font-weight: 700; }\n    .priority-high { background: #ffebee; color: #c62828; }\n    .priority-medium { background: #fff3e0; color: #ef6c00; }\n    .priority-low { background: #e8f5e9; color: #2e7d32; }\n    .priority-critical { background: #ffcdd2; color: #b71c1c; }\n    .user-info { background: #e3f2fd; padding: 12px; border-radius: 6px; margin: 15px 0; }\n    .reason-box { background: #fff9e6; border-left: 4px solid #ffc107; padding: 15px; border-radius: 6px; margin: 15px 0; }\n  </style>\n</head>\n<body>\n  <div class=\"email-wrapper\">\n    <div class=\"email-container\">\n      <div class=\"header\">\n        <h1>🔧 New Ticket Assigned to You</h1>\n        <p>ThinkAuto HelpDesk - Technician Portal</p>\n      </div>\n      <div class=\"content\">\n        <p class=\"greeting\">Hello <strong>{{ $json.technicianName }}</strong>,</p>\n        <p>A new support ticket has been assigned to you. Please review the details below and begin working on it as soon as possible.</p>\n        \n        <div class=\"ticket-details\">\n          <div class=\"detail-row\">\n            <span class=\"label\">Ticket Number</span>\n            <span class=\"value\"><strong style=\"font-size: 18px; color: #667eea;\">{{ $json.ticketNumber }}</strong></span>\n          </div>\n          <div class=\"detail-row\">\n            <span class=\"label\">Title</span>\n            <span class=\"value\"><strong>{{ $json.ticketTitle }}</strong></span>\n          </div>\n          <div class=\"detail-row\">\n            <span class=\"label\">Category</span>\n            <span class=\"value\">{{ $json.ticketCategory }}</span>\n          </div>\n          <div class=\"detail-row\">\n            <span class=\"label\">Priority Level</span>\n            <span class=\"value\">\n              <span class=\"priority-badge priority-{{ $json.ticketPriority.toLowerCase() }}\">{{ $json.ticketPriority }} PRIORITY</span>\n            </span>\n          </div>\n          <div class=\"detail-row\">\n            <span class=\"label\">Description</span>\n            <div class=\"description-box\">{{ $json.ticketDescription }}</div>\n          </div>\n        </div>\n        \n        <div class=\"user-info\">\n          <strong>👤 Reported By:</strong><br/>\n          {{ $json.userName }}<br/>\n          <a href=\"mailto:{{ $json.userEmail }}\" style=\"color: #1976d2;\">{{ $json.userEmail }}</a>\n        </div>\n        \n        <div class=\"reason-box\">\n          <strong>💡 Why you were selected:</strong><br/>\n          {{ $json.assignmentReason }}\n        </div>\n        \n        <p style=\"margin-top: 20px;\"><strong>Next Steps:</strong></p>\n        <ul style=\"margin-left: 20px; color: #555;\">\n          <li>Review the ticket details carefully</li>\n          <li>Contact the user if you need more information</li>\n          <li>Update the ticket status as you make progress</li>\n          <li>Aim to resolve within SLA timeframe</li>\n        </ul>\n        \n        <center>\n          <a href=\"http://localhost:8081/technician/tickets/{{ $json.ticketId }}\" class=\"cta-button\">🚀 Start Working on Ticket</a>\n        </center>\n      </div>\n      <div class=\"footer\">\n        <p>This is an automated assignment from ThinkAuto HelpDesk</p>\n        <p style=\"margin-top: 10px; color: #bbb;\">© 2026 ThinkAuto. All rights reserved.</p>\n      </div>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "7",
      "name": "📧 Email to Technician",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1340, 400],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail_account",
          "name": "Gmail"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Send success response\nreturn {\n  success: true,\n  message: 'Ticket assigned successfully',\n  data: {\n    ticketNumber: $json.ticketNumber,\n    assignedTo: $json.technicianName,\n    reason: $json.assignmentReason\n  }\n};"
      },
      "id": "8",
      "name": "Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300]
    }
  ],
  "connections": {
    "Webhook - New Ticket": {
      "main": [
        [
          {
            "node": "Get Ticket Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Ticket Details": {
      "main": [
        [
          {
            "node": "Get All Technicians",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Technicians": {
      "main": [
        [
          {
            "node": "Smart Assignment Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Smart Assignment Logic": {
      "main": [
        [
          {
            "node": "Assign Technician",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assign Technician": {
      "main": [
        [
          {
            "node": "📧 Email to User",
            "type": "main",
            "index": 0
          },
          {
            "node": "📧 Email to Technician",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📧 Email to User": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📧 Email to Technician": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-21T00:00:00.000Z",
  "versionId": "1"
}
